@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
body {
  background-color: "#fefae0"
}
h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20vh;
  letter-spacing: 1vw;
  position: absolute;
  top: 30%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background:url('https://garden.spoonflower.com/c/12989055/p/f/m/WT8kGutN89t5A6iiL9bI6mmafBCo5FiJqDt7ZLhAj2ZILeQgaoI3/West%20Coast%20Dahlia%20Garden%20in%20Bloom%20Ronya.jpg');
  // background:url('https://thumbs.dreamstime.com/b/tropical-flower-pattern-seamless-flowers-blossom-flowers-nature-background-vector-illustration-61142748.jpg');
   background-size: auto 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
  &:nth-child(3) {
    top: 50%;
  }
  @keyframes shine {
    from {
      background-position: center 0;
    }
    to {
      background-position: center 200%;
    }
  }
}

.card {
 box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
 border-width: 0;
 transition: all .2s;
}

.card {
 position: relative;
 display: flex;
 flex-direction: column;
 min-width: 0;
 word-wrap: break-word;
 background-color: #fff;
 background-clip: border-box;
 border: 1px solid rgba(26,54,126,0.125);
 border-radius: .25rem;
}

.card-body {
 flex: 1 1 auto;
 padding: 1.25rem;
}

.main-title {
  font-size : clamp(2rem, 4vw, 5rem);
}

.vertical-timeline {
 width: 100%;
 position: relative;
 padding: 1.5rem 0 1rem;
}

.vertical-timeline::before {
 content: '';
 position: absolute;
 top: 0;
 left: 67px;
 height: 100%;
 width: 4px;
 background: #e9ecef;
 border-radius: .25rem;
}

.vertical-timeline-element {
 position: relative;
 margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
 visibility: visible;
 animation: cd-bounce-1 .8s;
}
.vertical-timeline-element-icon {
 position: absolute;
 top: 0;
 left: 60px;
}

.vertical-timeline-element-icon .badge-dot-xl {
 box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
 width: 18px;
 height: 18px;
 position: relative;
}
.badge:empty {
 display: none;
}


.badge-dot-xl::before {
 content: '';
 width: 10px;
 height: 10px;
 border-radius: .25rem;
 position: absolute;
 left: 50%;
 top: 50%;
 margin: -5px 0 0 -5px;
 background: #fff;
}

.vertical-timeline-element-content {
 position: relative;
 margin-left: 90px;
 font-size: .8rem;
}

.vertical-timeline-element-content .timeline-title {
 font-size: .8rem;
 text-transform: uppercase;
 margin: 0 0 .5rem;
 padding: 2px 0 0;
 font-weight: bold;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
 display: block;
 position: absolute;
 left: -90px;
 top: 0;
 padding-right: 10px;
 text-align: right;
 color: #adb5bd;
 font-size: .7619rem;
 white-space: nowrap;
}

.vertical-timeline-element-content:after {
 content: "";
 display: table;
 clear: both;
}